h1{
    color:white;
    font-size: 24;
    font-family
}

body{
    background-color: gray;
}
h5{
    color:lightskyblue;
    font-size: 18;
}

p{
    text-indent: 20px;
}

hr{
    color:blue;
    height:10px;
    width: 50%;
}

#test1{
    position: absolute; top: 100px; left: 400px;
    background-color: palegreen
    padding:50px;
    border-style:groove;
    border-color: blue; 
}